

<app-invitation-game 
[fromWho]="this.invitationFromWho" 
[to]="to"
[gameConfig]="gameConfig"
(showInvitationEvent)="receiveShowInivtationEvent($event)"
*ngIf="invitation==true"></app-invitation-game>

<app-invitation-refuse *ngIf="refuse==true" 
[refuseFromWho]="this.refuseFromWho"
(refuseInvitationEvent)="receiverefueInvitationEvent($event)"></app-invitation-refuse>
<app-bloc-chat *ngIf="getRoute() != '/'"
(global4Event)="receiveGlobal4Event($event)"
></app-bloc-chat>
<app-header  *ngIf="getRoute() != '/'" ></app-header>
<!-- <app-pong *ngIf="showPong==true"></app-pong>  -->
<router-outlet></router-outlet>

<app-are-you-ready *ngIf="gameIsReady==true" [player1]="this.player1" [player2]="this.player2" [gameConfig]="gameConfig"></app-are-you-ready>
