

<app-invitation-game 
[fromWho]="this.invitationFromWho" 
[to]="to"
(showInvitationEvent)="receiveShowInivtationEvent($event)"
*ngIf="invitation==true"></app-invitation-game>

<app-invitation-refuse *ngIf="refuse==true" 
[refuseFromWho]="this.refuseFromWho"
(refuseInvitationEvent)="receiverefueInvitationEvent($event)"></app-invitation-refuse>
<app-bloc-chat *ngIf="getRoute() != '/'"></app-bloc-chat>
<app-header  *ngIf="getRoute() != '/'" ></app-header>
<app-pong *ngIf="showPong==true"></app-pong> 
<router-outlet></router-outlet>


