
<div class="all_vip">
  
    <div class="bloc_vip">
        <div class="title_vip">adylewsk's Profile</div>
        <div class="user_photo"  style="background-image:url(../../assets/adylewsk.jpg)" ></div>
        <div class="user_name">adylewsk</div>

        <app-button-v2 [text]="'Modify profile'" (click)="showhide()"></app-button-v2>
        
        <div class="bloc_modify" *ngIf="visible">
            <app-button-v2 [text]="'Modify avatar'" (click)="showhide_avatar()"></app-button-v2>
            <app-button-v2 [text]="'Modify nickname'" (click)="showhide_nickname()"></app-button-v2>
            <!-- <app-button-v2 [text]="'Modify 2FA: ' + (two_factor_auth | async)" (click)="toggle_two_factor_auth(false)"></app-button-v2> -->
            <app-button-v2 *ngIf="tfa_auth" [text]="'Modify 2FA: Enabled'" (click)="tfa_disable()"></app-button-v2>
            <app-button-v2 *ngIf="!tfa_auth" [text]="'Modify 2FA: Disabled'" (click)="tfa_signup()"></app-button-v2>
        </div><!-- fin de div bloc_modify  -->
		<div *ngIf="tfa_validation && visible">
			<div class="qr_code"  style="background-image:url({{qrCode}})"></div>
			<p class="tfa_count">{{tfa_count}} TRIES LEFT</p>
			<input class="tfa_input" placeholder="Two-Factor Authentication Key" (keydown.enter)="tfa_verify()" [(ngModel)]="tfa_key">
		</div>
        <div class="champ_avatar" *ngIf="visible_avatar">
            <label for="file">Choose File:&nbsp;</label>
            <input type="file" id="file">
            <app-button-v2 [text]="'Reset'"></app-button-v2>
            <!-- (change)="handleFileInput($event.target.files)"> -->
        </div>

        <div class="champ_nickname" *ngIf="visible_nickname">
            New nickname:&nbsp; <input type="text" id="new_nickname" value="Your new nickname">
            <app-button-v2 [text]="'Reset'"></app-button-v2>
        </div>
        
        <div class="title_historique">Match History</div>
        <div class="bloc_vip_historique"></div>



    </div><!-- fin de div bloc_vip  -->
    
</div><!-- fin de div all_vip  -->
