<div class="user_salon" >
    
    <div class="user_p1" >
    <div class="avatar_user" style="background-image:url({{guest.avatar_url}})"> </div>
    
    <div class="name_user" (click)="show_info()" >{{guest.nickname}}</div>
   
    </div>


    <div class="user_p2" *ngIf="showOption">
    <!-- <div class="only_admin" *ngIf="ifAdmin"> -->
        <button class="if_admin" (click)="beAdmin()" style="background-color:{{color1}}" > {{val_admin}}</button>
        <button class="if_muet" (click)="beMuet()" style="background-color:{{color2}}"> {{val_muet}}</button>
    </div>

</div><!-- fin de user_salon -->
