

<div class="all_chat">
<div class="chat" *ngIf="privatOrpublic==false" >
	
	<div class="part1">
		<img src="../../assets/icons/chat_titre.png">
	</div><!-- fin de div part1 -->

<!-- ///////////////////////////////////////////////////////// -->

	<div class="part2">
	
		<div class="part2_left">
			

			<app-direct-chat [Dest]="Dest" [Me]="Me" *ngIf="this.showchat==true"> </app-direct-chat>

			<!-- <div class="" *ngIf="showFormule" >Hello</div> -->
			<app-create-salon *ngIf="showFormule" (ShowSalonEvent)="receiveShowSalon($event)" (SendChannelNameEvent)="receiveChannelName($event)"></app-create-salon>


		</div><!-- fin de div part2_left -->
	
		<div class="part2_right">

			<div class="part2_titre_online">Users list</div>
			<div class="part2_users_online">
				<div *ngFor="let user of User_list">
					<app-select-user [user]="user" [Me]="Me" (showchatEvent)="receiveShowchat($event)" (sendDestEvent)="receiveSendDest($event)" (click)="closeCreateSalon()"></app-select-user>
				</div>
				
			</div>

			<div class="part2_titre_friends">Friends Online</div>
			<div class="part2_friends_online">
				<app-friend-user [Me]="Me"></app-friend-user>
			</div>
		
			<div class="part2_titre_create" (click)="formuleCreate()">Create Salon</div>
			
			<div class="part2_salon_available">List of Salon</div>
			<div class="part2_list_salon">
				
				<app-salon-available [current_user]="this.Me"></app-salon-available>
				
			</div>

		</div><!-- fin de div part2_right -->

	</div><!-- fin de div part2 -->


<!-- ///////////////////////////////////////////////////////// -->

	<div class="part3">



	</div><!-- fin de div part3 -->
</div> <!-- fin de div chat -->

<div class="salon" *ngIf="privatOrpublic==true">
	<app-salon [channel_name]="channel_name" (QuitSalonEvent)="receiveQuitSalon($event)" ></app-salon>
</div>

</div><!-- fin de div all-chat -->
