<div class="all_header">

    <a class="logo_header" routerLink="/">logo</a><!-- fin de logo_header -->
    
    <div class="nav_header">
        <a class="game_nav_header" routerLink="/game-room">game-room</a><!-- fin de game_nav_header -->
        <a class="show_nav_header" routerLink="/show-room">ShowRoom</a><!-- fin de show_nav_header -->
        <a class="vip_nav_header" routerLink="/vip-room">VipRoom</a><!-- fin de vip_nav_header -->
        <a class="private_nav_header" routerLink="/private-room">PrivateRoom</a><!-- fin de private_nav_header -->
    </div><!-- fin de nav_header -->
        
    <div class="username_header">
        <p>Welcome
        " {{userName}} "</p>
    </div><!-- fin de username_header -->
    



</div><!-- fin de all_header -->
